<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="ad.size" content="width=160,height=600", initial-scale=1.0>
    <meta http-equiv="X-UA-Compatible" content= "ie=edge">
    <title>Document</title>
    <style>
      
    </style>
    
</head>
    <body>
        <div id="lottie" onclick="window.open(window.clickTag)"; width="160" height="600" style="position: absolute; display: block; background-color:rgba(255, 255, 255, 1.00);" border:1px solid 5F6368;></div>
        <script src="lottie.js"></script>
        <script src="index.js"></script>
        <script> var clickTag = "https://smallbusiness.withgoogle.com/news/resources-for-smbs-impacted-by-coronavirus/#!/";  </script>
    
    </body>
</html>